[submodule "mib-api-gateway"]
	path = mib-api-gateway
	url = https://github.com/federicosilvestri/mib-api-gateway.git
[submodule "mib-user"]
	path = mib-user
	url = https://github.com/federicosilvestri/mib-user.git
